.seo-section {
  padding: 0;
  margin: 0;
  margin: auto;
}

.seo-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1250px;
  margin: 0;
  gap: 40px;
}

.seo-left {

  max-width: 320px;
}

.seo-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.seo-right {

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  max-width: 800px;
}

.feature {
  width: 240px;
}

.icon {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 10px;
}

.feature h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.feature p {

  color: #ccc;
  margin: 0;
}


@media screen and (max-width: 768px) {
  .seo-container {
    flex-direction: column;
    align-items: center;
  }

  .seo-left, .seo-right {
    max-width: 100%;
  }

  .seo-right {
    justify-content: center;
  }

  .feature {
    width: 100%;
    max-width: 300px;
  }

  .seo-title {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }
}