.hero {
  background-color: #fff;
  padding: 0;
  margin: auto;

  &__container {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 56px;
    color: #efebeb;

    .hero__sub {
      font-size: 36px;
      color: #f5f3f3;
    }
  }

  &__form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    .input {
      padding: 0;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 260px;
    }

    .btn {
      padding: 14px 24px;
      font-size: 16px;
      background-color: #4c61af;
      color: #121111;
      border: none;
      border-radius: 4px;


      &:hover {
        background-color: #f3f6f3;
      }
    }
  }

  &__note {
    font-size: 14px;
    color: #888;
  }
}


@media screen and (max-width: 768px) {
  .hero {
    padding: 40px 20px;

    &__title {
      font-size: 36px;
      line-height: 44px;

      .hero__sub {
        font-size: 28px;
      }
    }

    &__form {
      flex-direction: column;

      .input, .btn {
        width: 100%;
      }
    }
  }
}


@media (max-width: 480px) {
  .hero {
    padding: 30px 15px;

    &__title {
      font-size: 28px;
      line-height: 36px;

      .hero__sub {
        font-size: 22px;
      }
    }

    &__form {
      gap: 8px;

      .input, .btn {
        font-size: 14px;
        padding: 12px 18px;
      }
    }

    &__note {
      font-size: 12px;
    }
  }
}